/* Add your custom CSS styles here */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

h1 {
    color: #333;
}

form {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="file"] {
    display: block;
    margin: 10px auto;
}

#colorizedImage {
    margin-top: 20px;
    max-width: 100%;
}
