<!DOCTYPE html>
<head>
    <title>Image Colorizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Image Colorization</h1>
    <form action="/colorize" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <input type="submit" value="Colorize">
    </form>
    <br>
    <div id="result" class="image-container">
        <div>
            <h2>Black and White Image</h2>
            <img src="" alt="Black and White Image" id="bwImage">
        </div>
        <div>
            <h2>Colorized Image</h2>
            <img src="" alt="Colorized Image" id="colorizedImage">
        </div>
    </div>
    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            const formData = new FormData(form);

            try {
                const response = await fetch('/colorize', {
                    method: 'POST',
                    body: formData,
                });

                if (!response.ok) {
                    throw new Error('Image colorization failed');
                }

                const responseData = await response.blob();

                // Set the source of the black and white image
                const imgElement = document.getElementById('bwImage');
                imgElement.src = URL.createObjectURL(formData.get('image'));

                // Set the source of the colorized image
                const imgElement2 = document.getElementById('colorizedImage');
                imgElement2.src = URL.createObjectURL(responseData);
            } catch (error) {
                console.error('Error:', error);
            }
        });
    </script>
</body>
</html>
